.mo-ta-ngan {
   font-size: 20px;
   color: green;
   margin-bottom: 10px;
}

.mo-ta-ngan + div {
    border: 1px solid grey;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.course-lists {
    padding-left: 0;
    list-style: none;
}
