body {
    font-family: "Noto Sans", "Lora", "Raleway", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: black;
    opacity:0.8;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}