.banner-top {
    background-image: linear-gradient(#0047ab, white);
    min-height: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tim-kiem-khoa-hoc {
    max-width: 400px;
    margin: 0 auto;
    width: 30%;
    z-index: 100;
    margin-top: 100px;
}

.form-search-course {
    text-align: center;
}

.banner-top::before {
    position: absolute;
    content: "Khóa học nghề trực tuyến IC Fix";
    display: block;
    font-size: 40px;
    font-weight: normal;
    color: rgb(234, 236, 237);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    padding-top: 100px;
}

.course-list {
    padding-top: 30px;
    background: lightseagreen;
}

.dskhoahoc {
    list-style: none;
    padding-left: 0;
    padding: 30px 20px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.item_kh {
    margin-bottom: 40px;
}

.item_kh .wrap {
    background: white;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.item_kh .wrap a {
    flex: 0 0 100%;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
}

.item_kh .wrap img {
    width: 100px;
    object-fit: cover;
}

.mo_ta_bai_hoc {
    width: calc(100% - 100px);
    padding-left: 1em;
    padding-right: 0.5em;
}

.detail,
.price {
    font-size: 15px;
    margin-top: 10px;
    width: 100px;
}

.detail {
    margin-left: 20px;
}

.detail a {
    color: white;
    padding-top: 0;
}

.tieu_de {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.link {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .py-4 {
        padding-top: 0px;
    }

    .banner-top::before {
        font-size: 25px;
    }

    .banner-top {
        min-height: 15rem;
    }

    .form-search-course {
        display: flex;
        margin-top: auto;
    }

    .tim-kiem-khoa-hoc {
        width: unset;
        margin-top: 125px;
    }

    .tim-kiem-khoa-hoc .btn {
        display: block;
        height: 37px;
        margin-left: 20px;
    }
}
